:root {
  --background-color: #fff;
  --text-color: #000;
}


html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

[data-theme="dark"] {
  --background-color: #3F3F3F;
  --text-color: #fff;
}

body {
  font-family: sans-serif;
  margin: 0;
  margin-top: 50px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn {
  border: none;
  font-weight: 400;
  font-size: 1rem;
}

#title { 
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(255, 55, 0, 0.982);
  
}

#btn {
  border: none;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 110px);
  grid-template-rows: repeat(6, 110px);
  width: 770px;
  height: 660px;
  margin: 0 auto;
  justify-content: center;
  background-color: black;
}

.slot {
  border: 5px solid black;
  border-radius: 50%;
  background-color: white;
  outline: 5px black;
}

@media only screen and (min-width: 768px) {
  body {
  margin: 0;
  }
}