html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: gray;
  font-family: sans-serif;
  margin: 0;
  color: #d1cdc7;
  margin-top: 50px;
  text-align: center;
}



.btn {
  border: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 110px);
  grid-template-rows: repeat(6, 110px);
  width: 770px;
  height: 660px;
  margin: 0 auto;
  justify-content: center;
  background-color: black;
}

.slot {
  border: 5px solid black;
  border-radius: 50%;
  background-color: white;
  outline: 5px black;
}