

html {
  box-sizing: border-box
}

:root {
  --clr-background: #eceff1;
  --clr-base: #ffff
  --clr-gray: #263238
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}


body {
  font-family: sans-serif;
  margin: 0;
  margin-top: 50px;
  text-align: center;
  background-color: var(--clr-background);
}

.btn {
  border: none;
  font-weight: 400;
  font-size: 1rem;
}

#title { 
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(255, 55, 0, 0.982);
  
}

#btn {
  border: none;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 110px);
  grid-template-rows: repeat(6, 110px);
  width: 770px;
  height: 660px;
  margin: 0 auto;
  justify-content: center;
  background-color: black;
}

.slot {
  border: 5px solid black;
  border-radius: 50%;
  background-color: white;
}

.dark-mode {
  --clr-background: #263238;
  --clr-base: black;
  --clr-primary: #69f0ac;
  --clr-gray: #e0f7fa;
}

.wrapper-color-switch {
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.color-switch {
  width:4em;
  height:2em;
  border-radius: 10em;
  background: gray;
  border: 2px solid black;
  position: absolute;
  cursor: pointer;
}

.color-switch-toggle {
  width: 1.6em;
  height:1.6em;
  background: black;
  position: absolute;
  border-radius: 10em;
  top:0.2em;
  left:0.2em;
  transition: all 250ms ease-in-out;
}

.color-switch::before{
  content: "Light Mode On";
  position: absolute;
  display:inline-block;
  width:12em;
  left:-10em;
  top:0.4;
}

#input-color-switch:checked ~ label .color-switch-toggle{
  transform: translateX(2em);
}

#input-color-switch:checked ~ .color-switch::before{
    content:"Dark Mode On"
}

#input-color-switch {
  display:none;
}

@media only screen and (min-width: 768px) {
  .card{
    width: 325px;
    margin: 30px 15px 0;
  }
}
